#contato {
    background: #595959;
    padding: 3rem;
    width: 100%;
    margin: 0 auto;
}

#contact_title {
    color: #ffffff;
}

#contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 3% 0;
    width: 100%;
    height: 1100px;

}

#contact_info a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#wb_number{
    font-family: "Open Sans", sans-serif;
    margin-left: 8px;
    align-items: center;
    font-size: 24px;
    color: #f9f9f9;
    text-decoration: none;
}


@media only screen and (max-width:1000px) {
    #contato{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact_title {
        margin-left: 3rem;
    }

    iframe{
        width: 90vw;
        margin: 5vw;
    }

    #contato_direito {
        flex-direction: column-reverse;
        width: 100vw;
    }


}