.sobre_nos {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-bottom: 5em; 
    align-items: end;
    justify-content: space-around;
}

#servico_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#cta_phrase, #wb_button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#cta_phrase {
    margin-bottom: 1em;
}

#wb_button {
    width: 300px;
    height: 100px;
    background-color: #25D366;
    border: none;
    border-radius: 300px;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

#wb_button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

@media only screen and (max-width:1200px) {
    .sobre_nos {
        flex-direction: column;
        align-items: center;
    }
}

